<div class="strib-styles ssa ssb ssc">

<section class="container-lg elex-header">
  <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
  <h1>Measuring the burden of Twin Cities rental costs</h1>
  <p class="byline">By <a href="http://www.startribune.com/jim-buchta/10644536/">Jim Buchta</a>, <a href="http://www.startribune.com/maryjo-webster/303594441/">MaryJo Webster</a> and <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p>
  <p class="byline"><time pubdate="true" datetime="2019-03-31T16:00:00">March 31, 2019</time></p>
</section>

<p></p>

<!-- share -->

<section class="container-lg leadin">
  <p>Two summers ago, when Lolita Cole's landlord sold the small, stucco building near Mounds Park in St. Paul where she'd been living, the new owner warned that her $600 rent was going to increase $200 a month. She had 30 days to pack up and move if she couldn't afford it.</p>

  <p>Cole, a 58-year old personal care attendant, couldn't find an available apartment in her price range. Her only option, she said, was living for a year in a motel room that cost nearly double what she had been paying for rent.</p>
  
  <p>"I had to give up all my money just to keep a roof over my head," she said.</p>
  
  <p>Cole is among a growing number of working-class renters in the Twin Cities metro who pay more than 30-percent of their income on rent, according to a Star Tribune analysis of new data from U.S. Census Bureau. </p>
  
  <p>Renters who exceed that benchmark are considered cost burdened and unable to afford important necessities including food, health care and transportation. In the Twin Cities there are several pockets of the metro along the northwest edge of Minneapolis and just east of St. Paul where renters spent upward of 40 percent of their household income on housing.</p>
</section>

<div class="slide"> 
    <div class="chartTitle">Where renting is a burden</div>
    <div class="chatter">
        About one-quarter of the zip codes in the Twin Cities are considered <span class="legendary orange3">cost-burdened</span> for renters because, on average, renters in those areas are paying more than 30 percent of their household income on housing costs. Other areas are <span class="legendary purple1">not considered cost-burdened</span>. Minneapols and St. Paul are highlighted for context.</div>

    <div class="map" id="map"></div>
    <div class="byline">Note: Grayed out areas are those with either a low number of renters or where the margin of error from the survey was too high to provide a valid estimate.</div>
</div>

<section class="container-lg">
  <p>Thousands of new apartments and even the economic recovery itself hasn't helped ease the burden. In 2012, only a third of all renter households with an annual income of $35,000 to $49,000 paid more than 30 percent of their income on housing. By 2017, the most recent data available, half the households in that income range had become cost-burdened. </p>

  <p>Rising construction costs and deepening demand means developers in some areas just can't keep pace with demand, and the competition for the least expensive units is fierce. Last month the average monthly rent in the Twin Cities was $1,697, according to Zillow. That's 4.2 percent higher than last year, twice the national average and the third biggest increase in the nation at a time when rents in most major markets, including Miami, New York and San Francisco, are cooling. That rent gain adds up to an additional $816 in yearly expenses for the average renter.</p>
  
  <p>So from Bloomington to Shoreview, a growing number of affluent suburbs are adopting requirements aimed at forcing developers to build affordable rentals and implementing rules that protect renters who are finding themselves priced out of the market with nowhere to go. These efforts are being driven by a growing network of newly minted activists and residents who are frustrated by the realization that many of the teachers, health care workers and service employees in their communities are living on the edge.</p>

  <p>"Affordable housing has penetrated the public discourse in a way that has not been true in the past couple decades," said Anne Mavity, executive director of the Minnesota Housing Partnership (MHP). "Right now it's a top-tier issue, and it needs to be."</p>

  <p>It remains to be seen just how much relief such efforts will eventually provide in an already stressed housing market, and critics of such initiatives warn that imposing such rules on for-profit developers could stifle the kind of construction that's needed to ease the housing shortage and have other unintended consequences.</p>
  
  <p>Kelly Doran, a Twin Cities-based developer, and others acknowledge the need for more affordable housing, but worry that such rules will stifle construction in those communities or that rents on market-rate units will increase to subsidize the cost of the less-expensive ones.</p>
  
  <p>"I think a lot of times in a political environment there's this rush to try to come up with a simple answer to what is a very complex problem," he said. "We have to look at raising incomes as much as we look at the reducing the cost of living."</p>
</section>

<div class="inset">
  <img src="http://stmedia.startribune.com/images/Ctyp_BachelorFarmer_LucyHawthorne_webLCH_0257.jpg" />
  <div class="credit c017">photog here - Star Tribune</div>
  <figcaption class="tease-photo-caption toggle-photo-caption">The carbon in our apple pies concept of the number one as a patch of light vastness is bearable only through love across the centuries</figcaption>
</div>

<section class="container-lg">
  <p>The political will behind such efforts is intense. The new governor and mayors of the two biggest cities made affordable housing the cornerstone of their campaigns, and have rolled out sweeping plans to help solve the problem.</p>

  <p>And for the first time in three decades the Metropolitan Council established set a regional affordable housing policy plan based on an expectation that the metro will need an additional 39,700 affordable housing units from 2021 to 2030. They've hired a pair of policy planners with expertise in affordable housing and assembled a task force that included developers, nonprofits and others that provide guidance for communities.</p>
  
  <p>But because the organization doesn't have enforcement power, community groups are taking action in places like Brooklyn Park, a first-ring suburb where there's a heavy concentration of rentals and incomes are already low. On average renters pay 43 percent of their income on housing.</p>
  
  <p>Nelima Sitati-Munene, a longtime resident of the city has led a largely grassroots effort to combat the problem as the head of ACER (African Career, Education & Resource), a nonprofit that in 2017 successfully advocated for a mixed-income housing policy in Brooklyn Park that requires developers to include affordable units in new market-rate buildings. The group has broadened its support for such policies to other communities where there's need.</p>
  
  <p>"It's the voice of the community working in partnership with other communities that's getting the work done," said Denise Butler, a program manager for ACER.</p>
  
  <p>Already, a handful of communities including Minneapolis have adopted inclusionary housing and renter protection policies, many of which have been modeled after those adopted by St. Louis Park, where a collective of faith-based groups helped promote what's become considered some of the most progressive policies in the metro. </p>
</section>

<div class="slide">
  <div class="triptych">
    <div class="map" id="map1"></div>
    <div class="maptext chatter">The 55443 zip code in Brooklyn Park is the most cost-burdened zip code in the metro area, where renters pay on average 43 percent of household income on rent.</div>
  </div>
  <div class="triptych">
    <div class="map" id="map2"></div>
    <div class="maptext chatter">Rental costs in central Minneapolis fell slightly from five years ago, though renters in Cedar Riverside's 55454 zip code still spend an average 34 percent of their incomes on rent.</div>
  </div>
  <div class="triptych">
    <div class="map" id="map3"></div>
    <div class="maptext chatter">Every zip code on St. Paul's east side has an average renter cost of about 30 percent. Zip code 55106 was at 38 percent five years ago, but has since fallen to about 33 percent.</div>
  </div>

</div>

<section class="container-lg">
  <p>Tara Beard, a Metropolitan Council housing policy analyst, said that it's too early to measure regional impact, but some cities are already seeing results. After Edina passed a 10 percent affordability requirement in 2015 for large multifamily housing projects, 98 of the 1,042 units built have been affordable. 

    <p>Those figures don't include a pair of projects that are still in the works that will include a combined 132 units in buildings that are 100 percent income restricted. "I am confident they would not exist without this policy," said Stephanie Hawkinson, cq/sp Edina's Affordable Housing Development Manager. </p>
    
    <p>One of those projects might not have happened without city support is 66 West, an apartment building exclusively for formerly homeless teens like Aleesha German, who graduated from high school at 17 and found herself living with a friend after she moved out of foster care. German is taking a break from college while she works full-time at the Shake Shack in Edina and volunteers as youth advocate at the YMCA. She can't afford her own apartment on her $12 hour wage, so her rent is based on her income. </p>
    
    <p>"Living here has really relieved a lot of stress and opened a lot of opportunities for me because I don't have to worry about where I'm going to sleep," she said.</p>
    
    <p>Shoreview is the latest city in the metro to adopt policies aimed at helping renters and homeowners in its new comp plan, which was recently submitted to the met council. That includes a first-time home buyer assistance program that offers up to $15,000 in financial help to qualified buyers, and a requirement that 10 percent of its newly built apartments are income restricted. If adopted by city officials this fall, Shoreview would become the first city in Ramsey County to adopt such a policy.</p>
    
    <p>Earlier this year Bloomington adopted rules that are aimed at encouraging developers to build more affordable housing by offering a menu of innovative options for compliance. </p>
</section>

<div class="slide">
  <div class="chartTitle">Share of cost-burdened renters in the Twin Cities grows</div>
  <div class="chatter">The percentage of cost-burdened renters among most income brackets in the Twin Cities metro area increased from <span class="legendary purple1">2012</span> to <span class="legendary orange3">2017</span>.</div>

  <div class="chart" id="bars"></div>

</div>


<section class="container-lg">
  <p>That plan was largely endorsed by a cadre of residents like Jenna Carter, a nutritionist who joined the Bloomington Housing Coalition after volunteering at the local food bank where she met families that couldn't afford groceries because they were spending the bulk of their income on housing. She and others advocated for 108 Place, which when completed will provide 42 units of workforce housing for people earn less than 60 percent of the area median income. In Bloomington that's $56,580 for a family of four.</p>

  <p>"As a mom myself, it broke my heart to think of all those kids being put at such a disadvantage and losing so much opportunity because of circumstances beyond their control," she said.</p>
  
  <p>Even in communities that have not yet adopted their own inclusionary housing policy, some residents recognize the need for a broader range of housing options to cultivate retail and other services.</p>
  
  <p>Leslie Roerng, a senior project manager for Aeon, a nonprofit housing developer and manager that's based in Minneapolis, saw the need "and an opportunity" in her own backyard. </p>
  
  <p>Roering lives in Ramsey, a northwest suburb that's been trying to develop its own town center in an known as The Cor, a 400-acre-plus mixed-use development that's adjacent to a stop along the Northstar Commuter Rail line. The city wanted more density in the area to help support retail, so she brought the site to the attention of her colleagues at Aeon, and without protest the city approved Greenway Terrace, an entirely income-restricted where residents pay only a portion of their income on rent. Even before the roof was on the building, there were 300 families on the interest list and within a month of completion the building was full.</p>
  
  <p>"More and more cities are realizing that there are cost-burned households in their community and that they need to do something about it to retain those households," Roering said. </p>
  
  <p>Lolita Cole, the personal care attendant who got priced out of her St. Paul apartment, was one of the first residents. After living for almost a year in a motel that cost nearly $1,100 a month, she now has stable housing and doesn't have to worry about becoming homeless again.</p>
  
  <p>"It was rough out there," she said. "But now I don't have to give up anything."</p>
</section>

<section class="container-lg">
<div class="article-author-contact">
  <div class="article-author-hcard">
                  <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jim Buchta</strong> has covered real estate for the Star Tribune for several years. He also has covered energy, small business, consumer affairs and travel.&nbsp;</span></p><p></p>
                  <p><a class="article-author-hcard__email" target="_blank" href="mailto:jim.buchta@startribune.com?subject=Twin Cities housing market gets even tighter as new listings lag" data-linkname="jim.buchta@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">jim.buchta@startribune.com</a>
<a class="article-author-hcard__phone" href="tel:612-673-7376" data-linkname="612-673-7376" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-7376</a></p>
</div>

<div class="article-author-hcard">
  <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>MaryJo Webster</strong> is the data editor for the Star Tribune. She teams up with reporters to analyze data for stories across a wide range of topics and beats.&nbsp;</span></p><p></p>
  <p><a class="article-author-hcard__email" target="_blank" href="mailto:maryjo.webster@startribune.com?subject=With fewer kids vaccinated, more Minn. schools vulnerable" data-linkname="maryjo.webster@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-2-author">maryjo.webster@startribune.com</a>
  <a class="article-author-hcard__phone" href="tel:612-673-1789" data-linkname="612-673-1789" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-2-author">612-673-1789</a>
  <a class="article-author-hcard__twitter" href="http://twitter.com/MaryJoWebster" target="_blank" data-linkname="MaryJoWebster" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-2-author">MaryJoWebster</a></p>
</div>

<div class="article-author-hcard">
    <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
    <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=A deeper look at Minneapolis crime rates" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
    <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
    <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
</div>

</div>

<div class="source">Data Source: U.S. Census Bureau, American Community Surveys 2008-2012 and 2013-2017</div>
</section>

</div>